<table class="w-full">
  <tr>
    <td>
      <!-- section-01 -->
      <table class="w-full">
        <tr>
          <td class="px-[20px] py-[20px] bg-white">
            <table class="w-full">
              <tr>
                <td class="w-[110px] max-w-[110px]">
                  <x-image class="w-[110px]" imgUrl="image-7.png" />
                </td>
                <td
                  class="text-[12px] max-w-[337px] leading-[13.8px] text-gray pl-[23px] tp-[10px] font-primary"
                >
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
