<table class="w-full">
  <tr>
    <td>
      <!-- section-03 -->
      <table class="w-full">
        <tr>
          <td class="bg-greenbg px-[20px] pt-[37px] pb-[44px]">
            <table class="w-full">
              <tr>
                <td
                  class="font-primary font-bold text-center text-[24px] leading-[27.6px] text-green pb-[35px]"
                >
                  Sint cupidatat occaecat ut
                </td>
              </tr>
              <tr>
                <td class="">
                  <table class="w-full">
                    <tr>
                      <td
                        class="w-[270px] bg-white sm:w-full sm:inline-block px-[25px] py-[25px]"
                      >
                        <table class="w-full">
                          <tr>
                            <td align="center" class="w-[100px]">
                              <x-image class="w-[100px]" imgUrl="image-6.png" />
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="font-primary text-[20px] leading-[23px] text-center text-green font-bold py-[15px]"
                            >
                              Nisi ut ade
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="font-primary text-[16px] leading-[18.4px] text-grayblack text-center font-normal"
                            >
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim
                              veniam.<span
                                class="text-[12px] [line-height:0] [vertical-align:2px] text-grayblack"
                                >¹</span
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td class="w-[20px] sm:w-full sm:inline-block">&nbsp;</td>
                      <td
                        class="w-[270px] bg-white sm:w-full sm:inline-block sm:pt-[35px] px-[25px] py-[25px]"
                      >
                        <table class="w-full">
                          <tr>
                            <td align="center" class="w-[100px]">
                              <x-image class="w-[100px]" imgUrl="image-6.png" />
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="font-primary text-[20px] leading-[23px] text-center text-green font-bold py-[15px]"
                            >
                              Duis aute irure
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="font-primary text-[16px] leading-[18.4px] text-grayblack text-center font-normal"
                            >
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim
                              veniam.<span
                                class="text-[12px] [line-height:0] [vertical-align:2px] text-grayblack"
                                >²</span
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
