<table class="w-full">
  <tr>
    <td>
      <!-- section-04 -->
      <table class="w-full">
        <tr>
          <td class="px-[20px] pt-[35px] pb-[20px]">
            <table class="w-full">
              <tr>
                <td
                  class="font-bold text-gray font-primary text-[12px] leading-[13.8px]"
                >
                  Ut enim ad minim:
                </td>
              </tr>
              <tr>
                <td
                  class="text-gray font-primary text-[12px] leading-[13.8px] pt-[15px]"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </td>
              </tr>
              <tr>
                <td
                  class="text-gray font-primary text-[12px] leading-[13.8px] pt-[15px]"
                >
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur.
                </td>
              </tr>
              <tr>
                <td
                  class="font-bold text-gray font-primary text-[12px] leading-[13.8px] pt-[25px] pb-[15px]"
                >
                  Sint occaecat cupidatat:
                </td>
              </tr>
              <tr>
                <td class="pb-[21px]">
                  <table class="w-full">
                    <tr>
                      <td
                        class="align-top w-[15px] max-w-[15px] text-gray font-primary text-[12px] leading-[13.8px] text-left"
                      >
                        1.
                      </td>
                      <td
                        class="text-gray font-primary text-[12px] leading-[13.8px] text-left w-[540px] max-w-[540px] sm:w-[320px] sm:max-w-[320px]"
                      >
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="align-top w-[15px] max-w-[15px] text-gray font-primary text-[12px] leading-[13.8px] text-left"
                      >
                        2.
                      </td>
                      <td
                        class="text-gray font-primary text-[12px] leading-[13.8px] text-left w-[540px] max-w-[540px] sm:w-[320px] sm:max-w-[320px]"
                      >
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td
                  class="text-center text-gray font-primary text-[12px] leading-[13.8px] pt-[21.87px] pb-[21px] border-solid boredr-t-1 border-b-0 border-l-0 border-r-0 border-[#002B2B]"
                >
                  Sed do eiusmod tempor incididunt ut labore
                </td>
              </tr>
              <tr>
                <td align="center" class="w-[100px] max-w-[100px]">
                  <a href="#" class="underline" target="_blank"
                    ><x-image class="w-[100px]" imgUrl="image-10.png"
                  /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
