<table class="w-full">
  <tr>
    <td>
      <!-- section-02 -->
      <table class="w-full">
        <tr>
          <td class="bg-white pb-[46px]">
            <table class="w-full">
              <tr>
                <td class="w-full px-[20px] sm:px-[0px]">
                  <x-image class="w-[560px]" imgUrl="image-8.png" />
                </td>
              </tr>
              <tr>
                <td
                  class="px-[50px] text-[24px] leading-[27.6px] text-green font-bold text-center font-primary pt-[30px] pb-[20px]"
                >
                  Excepteur sint occaecat cupidatat
                </td>
              </tr>
              <tr>
                <td
                  class="px-[50px] text-[16px] leading-[18.4px] text-grayblack text-center font-primary pb-[20px]"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </td>
              </tr>
              <tr>
                <td class="px-[50px]" align="center">
                  <table>
                    <tr>
                      <td
                        align="center"
                        class="w-[350px] text-[20px] leading-[23px] text-white text-center px-[54px] pt-[12px] pb-[11px] cursor-pointer rounded-[10px] bg-greencta sm:px-[24px] sm:w-[335px]"
                      >
                        Ut enim ad minim veniam
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
